<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="../assets/fonts/fonts.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Contacto</title>
    <!-- Favicon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/img/favicon/ms-icon-144x144.png">
    <!-- Favicon images -->
    <meta name="theme-color" content="#ffffff">
    <meta name="keywords" content="Barberia, Afeitado, Negocio, Profesionales, Baradero, Cortes">
    <meta name="description" content="Página de contacto del sitio de Monkeys Barber Shop - Baradero">
</head>
<body>
    <!-- Inicio Header-Menu de navegacion principal -->
    <header>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/Logo.png" alt="Logo Monkeys" class="img-fluid navbar__logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tienda.html">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Fin Header-Menu de navegacion principal -->
    <!-- Inicio Contacto -->
    <section id="contacto" class="section__py">
        <div class="contenedor">
            <h1>Contacto</h1>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="ratio ratio-4x3"">                      
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d414.41064265525773!2d-59.50121263130836!3d-33.80495395398304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdb01eebcb96c7c4c!2sColegio%20San%20Jos%C3%A9!5e0!3m2!1ses-419!2sar!4v1617943992794!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="my-3 my-md-0 col-md-6">
                    <form id="contact" name="contact" netlify>
                        <input class="form-control my-2" type="text" name="nombre" placeholder="Nombre">
                        <input class="form-control my-2" type="text" name="apellido" placeholder="Apellido" >
                        <input class="form-control my-2" type="text" name="email" placeholder="E-mail" >
                        <select class="form-control my-2" name="asunto">
                            <option value="0">-- Seleccione Asunto --</option>
                            <option value="Contacto comercial">Contacto comercial</option>
                            <option value="Solicitar turno">Solicitar turno</option>
                            <option value="Compras por mayor">Compras por mayor</option>
                        </select>
                        <textarea class="form-control my-2" name="mensaje" cols="30" rows="10" placeholder="Mensaje"></textarea>
                        <input type="checkbox" name="terminos" class="me-2" ><span>Acepto los terminos y condiciones del servicio</span>
                        <div class="my-3 text-center">
                            <button class="btn btn-outline-warning bg-white" type="reset">Resetear campos</button>
                            <button class="btn btn-warning" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Contacto -->
    <!-- Inicio Footer -->
    <footer class="section__py footer">
        <div class="footer__container">
            <div class="footer__menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="./tienda.html">Tienda</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="rrss">
                <a class="rrss__links" href="#">
                    <i class="fab fa-facebook rrss__icons"></i>
                </a>
                <a class="rrss__links" href="#">
                    <i class="fab fa-instagram rrss__icons"></i>
                </a>
                <a class="rrss__links" href="https://github.com/sebamar88/proyecto-coderhouse/">
                    <i class="fab fa-github rrss__icons"></i>
                </a>
            </div>
            <div class="text-end">
                <a href="../index.html">
                    <img src="../assets/img/Logo.png" alt="Logo">
                </a>
                <ul class="footer__legales">
                    <li><a href="#">Aviso Legal</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Políticas de cookies</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- Fin Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script>
        

        const handleSubmit = (e) => {
        e.preventDefault()
        let myForm = document.getElementById('contact');
        let formData = new FormData(myForm)
        fetch('/', {
            method: 'POST',
            headers: { "Content-Type": "application/x-www-form-urlencoded" },
            body: new URLSearchParams(formData).toString()
        }).then(() => document.getElementById("contact").reset()).catch((error) =>
            alert(error))
        }
        
        document.querySelector("form").addEventListener("submit", handleSubmit);
    </script>
</body>
</html>
