<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=fallback" rel="stylesheet">
    <link rel="stylesheet" href="./build/css/all.css">    
    <link rel="stylesheet" href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="../assets/fonts/fonts.css">
    <link rel="stylesheet" href="../build/css/bootstrap.css">
    <link rel="stylesheet" href="../build/css/style.css">
    <title>Contacto - Monkeys Barber Shop</title>
    <!-- Favicon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/img/favicon/ms-icon-144x144.png">
    <!-- Favicon images -->
    <meta name="theme-color" content="#ffffff">
    <meta name="keywords" content="Barberia, Afeitado, Negocio, Profesionales, Baradero, Cortes">
    <meta name="description" content="Página de contacto del sitio de Monkeys Barber Shop - Baradero">
</head>
<body>
    <!-- Inicio Header-Menu de navegacion principal -->
    <header>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/Logo.png" alt="Logo Monkeys" class="img-fluid navbar__logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tienda.html">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Fin Header-Menu de navegacion principal -->
    <!-- Inicio Contacto -->
    <section id="contacto" class="section__py">
        <div class="container">
            <h1>Contacto</h1>
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="ratio ratio-4x3"">                      
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d414.41064265525773!2d-59.50121263130836!3d-33.80495395398304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdb01eebcb96c7c4c!2sColegio%20San%20Jos%C3%A9!5e0!3m2!1ses-419!2sar!4v1617943992794!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
                <div class="my-3 my-md-0 col-md-6">
                    <form id="contact" name="contact" netlify>
                        <input class="form-control my-2" type="text" name="nombre" id="nombre" value="" placeholder="Nombre" onkeyup='validateName()'>
                        <input class="form-control my-2" type="text" name="apellido" id="apellido" value="" placeholder="Apellido" >
                        <input class="form-control my-2" type="text" name="email" id="email" value="" placeholder="E-mail" >
                        <select class="form-control my-2" name="asunto" value="" id="asunto">
                            <option value="0">-- Seleccione Asunto --</option>
                            <option value="Contacto comercial">Contacto comercial</option>
                            <option value="Solicitar turno">Solicitar turno</option>
                            <option value="Compras por mayor">Compras por mayor</option>
                        </select>
                        <textarea class="form-control my-2" name="mensaje" value="" id="mensaje" cols="30" rows="10" placeholder="Mensaje"></textarea>
                        <input type="checkbox" name="terminos" class="me-2" ><span>Acepto los terminos y condiciones del servicio</span>
                        <div class="my-3 text-center">
                            <button class="btn btn-outline-warning bg-white" type="reset">Resetear campos</button>
                            <button class="btn btn-warning" onclick='return validateForm()' type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Contacto -->
    <!-- Inicio Footer -->
    <footer class="section__py footer">
        <div class="footer__container">
            <div class="footer__menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="./tienda.html">Tienda</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="rrss">
                <a class="rrss__links" target="_blank"  rel="noreferrer noopener nofollow" href="https://facebook.com">
                    <i class="fab fa-facebook rrss__icons"></i>
                </a>
                <a class="rrss__links" target="_blank"  rel="noreferrer noopener nofollow" href="https://instagram.com">
                    <i class="fab fa-instagram rrss__icons"></i>
                </a>
                <a class="rrss__links" target="_blank"  rel="noreferrer noopener nofollow" href="https://github.com/sebamar88/proyecto-coderhouse/">
                    <i class="fab fa-github rrss__icons"></i>
                </a>
            </div>
            <div class="footer__legales">
                <a href="../index.html">
                    <img src="../assets/img/Logo.png" alt="Logo">
                </a>
                <ul>
                    <li><a href="#">Aviso Legal</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Políticas de cookies</a></li>
                </ul>
                <div id="copyright">
                    <span>Todos los derechos reservados.</span>
                    <span>Copyright by <a href="https://sebamar.site">SM Developer</a></span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fin Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="../assets/js/notiflix-aio.js"></script>
    <script> 
    
    /* Validando formulario */

    const validateMessage = () =>{
            const mensajeForm = document.getElementById('mensaje').value;
            if(mensajeForm.length === 0){
                Notiflix.Report.Failure( 
                    'Falta mensaje',
                    'Debes ingresar tu mensaje',
                    'Cerrar' 
                    );
                    return false; 
            }
            return true;
        }

        const validateName = () =>{
            const nombreForm = document.getElementById('nombre').value;
            if(nombreForm.length === 0){
                Notiflix.Report.Failure( 
                    'Falta nombre',
                    'Debes ingresar tu nombre',
                    'Cerrar' 
                    );
                    return false; 
            }
            return true;
        }
        const validateSurname = () =>{
            const apellidoForm = document.getElementById('apellido').value;
            if(apellidoForm.length === 0){
                Notiflix.Report.Failure( 
                    'Falta apellido',
                    'Debes ingresar tu apellido',
                    'Cerrar' 
                    );
                    return false; 
            }
            return true;
        }
        const validateEmail = () =>{
            const emailForm = document.getElementById('email').value;
            if(emailForm.length === 0){
                Notiflix.Report.Failure( 
                    'Falta email',
                    'Debes ingresar tu email',
                    'Cerrar' 
                    );
                    return false; 
            }
            if(!emailForm.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)) {

                Notiflix.Report.Failure( 
                    'Email invalido',
                    'Debes ingresar un email valido',
                    'Cerrar' 
                    );
                    return false;

            }
            return true;
        }
        const validateSubject = () =>{
            const asuntoForm = parseInt(document.getElementById('asunto').value);
            if(asuntoForm === 0){
                Notiflix.Report.Failure( 
                    'Falta asunto',
                    'Debes ingresar tu asunto',
                    'Cerrar' 
                    );
                    return false; 
            }
            return true;
        }
    
        
    const validateForm = () =>{

        if(!validateName() || !validateSubject() || !validateEmail() || !validateMessage() || !validateSurname()){
            return false;
        }

    }
    
    /* Ajax del formulario */
    
    const handleSubmit = (e) => {
    e.preventDefault()
    let myForm = document.getElementById('contact');
    let formData = new FormData(myForm)
    fetch('/', {
        method: 'POST',
        headers: { "Content-Type": "application/x-www-form-urlencoded" },
        body: new URLSearchParams(formData).toString()
    }).then(() => document.getElementById("contact").reset()).catch((error) =>
        alert(error))
    }
    
    document.querySelector("form").addEventListener("submit", handleSubmit);
    </script>
</body>
</html>
