<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=fallback" rel="stylesheet">
    <link rel="stylesheet" href="./build/css/all.css">    
    <link rel="stylesheet" href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="../assets/fonts/fonts.css">
    <link rel="stylesheet" href="../build/css/bootstrap.css">
    <link rel="stylesheet" href="../build/css/style.css">
    <title>Servicios - Monkeys Barber Shop</title>
    <!-- Favicon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/img/favicon/ms-icon-144x144.png">
    <!-- Favicon images -->
    <meta name="theme-color" content="#ffffff">
    <meta name="keywords" content="Barberia, Afeitado, Negocio, Profesionales, Baradero, Cortes">
    <meta name="description" content="Aquí podras encontrar todos los servicios que ofrecemos en Monkeys Barber Shop - Baradero">
</head>
<body>
    <!-- Inicio Header-Menu de navegacion principal -->
    <header>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/Logo.png" alt="Logo Monkeys" class="img-fluid navbar__logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tienda.html">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Fin Header-Menu de navegacion principal -->
    <!-- Inicio Banner -->
    <section class="banner">
        <div class="contenedor">
            <h1>Nuestros Servicios</h1>
        </div>
    </section>
    <!-- Fin Banner -->
    <!-- Inicio Servicios -->
    <section id="servicios" class="section__py">
        <div class="contenedor">
            <div class="servicios__card">
                <img src="../assets/img/dibujoCapilar.png" alt="Producto">
                <h3>Dibujo Craneal</h3>
                <p>En la actualizas es muy popular, gracias a los múltiples jugadores de futbol y creadores de contenido que los usan muchísimo.</p>
                <div class="turnos">
                    <span class="price">$250</span>
                    <a href="./contacto.html" class="btn btn-warning">Reservar Turno</a>
                </div>
            </div>
            <div class="servicios__card">
                <img src="../assets/img/afeitado-clasico.png" alt="Producto">
                <h3>Afeitado clasico</h3>
                <p>Afeitado completo con navaja y tijera, la forma clásica de toda la vida.</p>
                <div class="turnos">
                    <span class="price">$250</span>
                    <a href="./contacto.html" class="btn btn-warning">Reservar Turno</a>
                </div>
            </div>
            <div class="servicios__card">
                <img src="../assets/img/Shade.png" alt="Producto">
                <h3>Sombra Superior</h3>
                <p>Sombras y degrades en la parte superior de la cabeza.</p>
                <div class="turnos">
                    <span class="price">$250</span>
                    <a href="./contacto.html" class="btn btn-warning">Reservar Turno</a>
                </div>
            </div>
            <div class="servicios__card">
                <img src="../assets/img/SombraBarba.png" alt="Producto">
                <h3>Sombra Inferior</h3>
                <p>Fusiona tu pelo con tu barba con un efecto de degradado.</p>
                <div class="turnos">
                    <span class="price">$250</span>
                    <a href="./contacto.html" class="btn btn-warning">Reservar Turno</a>
                </div>
            </div>
            <div class="servicios__card">
                <img src="../assets/img/blackMask.png" alt="Producto">
                <h3>Limpieza de impurezas</h3>
                <p>Black mask: quita de tu vida los puntos negros e impurezas</p>
                <div class="turnos">
                    <span class="price">$250</span>
                    <a href="./contacto.html" class="btn btn-warning">Reservar Turno</a>
                </div>
            </div>
            <div class="servicios__card">
                <img src="../assets/img/perfiladoCejas.png" alt="Producto">
                <h3>Perfilado de Cejas</h3>
                <p>Ten tus cejas prolijas en toda ocasión</p>
                <div class="turnos">
                    <span class="price">$250</span>
                    <a href="./contacto.html" class="btn btn-warning">Reservar Turno</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Servicios -->
    <!-- Inicio Footer -->
    <footer class="section__py footer">
        <div class="footer__container">
            <div class="footer__menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="./tienda.html">Tienda</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="rrss">
                <a class="rrss__links" target="_blank"  rel="noreferrer noopener nofollow" href="https://facebook.com">
                    <i class="fab fa-facebook rrss__icons"></i>
                </a>
                <a class="rrss__links" target="_blank"  rel="noreferrer noopener nofollow" href="https://instagram.com">
                    <i class="fab fa-instagram rrss__icons"></i>
                </a>
                <a class="rrss__links" target="_blank"  rel="noreferrer noopener nofollow" href="https://github.com/sebamar88/proyecto-coderhouse/">
                    <i class="fab fa-github rrss__icons"></i>
                </a>
            </div>
            <div class="footer__legales">
                <a href="../index.html">
                    <img src="../assets/img/Logo.png" alt="Logo">
                </a>
                <ul>
                    <li><a href="#">Aviso Legal</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Políticas de cookies</a></li>
                </ul>
                <div id="copyright">
                    <span>Todos los derechos reservados.</span>
                    <span>Copyright by <a href="https://sebamar.site">SM Developer</a></span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fin Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>
