<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="../assets/fonts/fonts.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Tienda - Monkeys Barber Shop</title>
    <!-- Favicon images -->
    <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/img/favicon/ms-icon-144x144.png">
    <!-- Favicon images -->
    <meta name="theme-color" content="#ffffff">
    <meta name="keywords" content="Barberia, Afeitado, Negocio, Profesionales, Baradero, Cortes">
    <meta name="description" content="Tienda de Monkeys Barber Shop Baradero. Aquí conseguiras los mejores productos para tu barba y bigote.">
</head>
<body>
    <!-- Inicio Header-Menu de navegacion principal -->
    <header>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="../index.html">
                    <img src="../assets/img/Logo.png" alt="Logo Monkeys" class="img-fluid navbar__logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./servicios.html">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tienda.html">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Fin Header-Menu de navegacion principal -->
    <!-- Inicio Banner -->

    <section class="hero__shop">
        <h1>Nuestra Tienda</h1>
    </section>

    <!-- Fin Banner -->
    <!-- Inicio Productos -->

    <section id="productos" class="section__py">
        <div class="container">
            <div class="fila">
                <div class="productos__card text-center">
                    <img src="../assets/img/aceite.png" alt="Aceite para barba">
                    <h3>Aceite para barba</h3>
                    <div class="cantidad">Cantidad: <input type="number" name="cantidad" value="1" min="1" /></div>
                    <p class="price">$250</p>
                    <button type="button" class="btn btn-warning btn-lg fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                        Ver Producto
                    </button>
                    <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="staticBackdropLabel1">Aceite para barba</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="../assets/img/aceite.png" alt="Aceite para barba" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 d-flex flex-column justify-content-center">
                                        <span>Precio:</span>
                                        <p class="price">$250</p>
                                        
                                    </div>
                                    <div class="col-12 py-3">
                                        <div class="card p-4">
                                            <h5>Aceite para barba</h5>
                                            <p>
                                                A todos nos preocupa la densidad y longitud de la barba, y especialmente que crezca de manera pareja en todos lados. Por eso diseñamos nuestro aceite favorece y estimula el crecimiento de la barba, pero también ayuda que crezca de la manera mas sana posible!
                                                Nuestra receta contiene mas de 12 aceites puros y esenciales, con propiedades para hacer crecer el vello facial y que además le brindaran a tu piel y barba, la mejor hidratación y nutrición!
                                                Este tratamiento se consigue con constancia y paciencia, y los resultados se empiezan a ver aproximadamente en un mes, utilizando el aceite todos los días, colocando entre 6 y 12 gotas en la barba luego de la ducha y antes de ir a dormir!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-warning">Comprar Ahora</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="productos__card text-center">
                    <img src="../assets/img/balsamo.png" alt="Balsamo Aftre Shave">
                    <h3>After Shave</h3>
                    <div class="cantidad">Cantidad: <input type="number" name="cantidad" value="1" min="1" /></div>
                    <p class="price">$250</p>
                    <button type="button" class="btn btn-warning btn-lg fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                        Ver Producto
                    </button>
                    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="staticBackdropLabel2">After Shave</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="../assets/img/balsamo.png" alt="After Shave" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 d-flex flex-column justify-content-center">
                                        <span>Precio:</span>
                                        <p class="price">$250</p>
                                        
                                    </div>
                                    <div class="col-12 py-3">
                                        <div class="card p-4">
                                            <h5>After Shave</h5>
                                            <p>
                                                Se absorbe rápidamente, y el bálsamo suavemente refresca la piel luego de el afeitado, con una notable mejoría de su estado. El rostro se siente saludable y relajado durante mucho tiempo luego de la aplicación. Cuidado que protege El bálsamo, enriquecido con ingredientes nutritivos, protege la piel contra posibles inflamaciones luego de la afeitada.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-warning">Comprar Ahora</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="productos__card text-center">
                    <img src="../assets/img/cepillo.png" alt="Cepillo para barba">
                    <h3>Cepillo para barba</h3>
                    <div class="cantidad">Cantidad: <input type="number" name="cantidad" value="1" min="1" /></div>
                    <p class="price">$250</p>
                    <button type="button" class="btn btn-warning btn-lg fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop3">
                        Ver Producto
                    </button>
                    <div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="staticBackdropLabel3">Cepillo para barba</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="../assets/img/cepillo.png" alt="Cepillo para barba" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 d-flex flex-column justify-content-center">
                                        <span>Precio:</span>
                                        <p class="price">$250</p>
                                        
                                    </div>
                                    <div class="col-12 py-3">
                                        <div class="card p-4">
                                            <h5>Cepillo para barba</h5>
                                            <ul class="product__description">
                                                <li>Cepillo de Madera para barba ovalado y posee Cerdas 100% Naturales.</li>
                                                <li>Es especial para hacer una limpieza precisa y efectiva cuando se realizan cortes con máquina.</li>
                                                <li>Posee un diseño de cerdas rectas para una limpieza más rápida y efectiva y un práctico mango de madera para un mejor agarre.</li>
                                                <li>Se puede utilizar en cabeza, cuello, barba y bigotes. Cómodo, liviano y de estética moderna ideal para barberías y peluquerías.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-warning">Comprar Ahora</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="productos__card text-center">
                    <img src="../assets/img/peine.png" alt="Peine para Barba">
                    <h3>Peine para Barba</h3>
                    <div class="cantidad">Cantidad: <input type="number" name="cantidad" value="1" min="1" /></div>
                    <p class="price">$250</p>
                    <button type="button" class="btn btn-warning btn-lg fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop4">
                        Ver Producto
                    </button>
                    <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel4" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="staticBackdropLabel4">Peine para barba</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="../assets/img/peine.png" alt="Peine para barba" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 d-flex flex-column justify-content-center">
                                        <span>Precio:</span>
                                        <p class="price">$250</p>
                                        
                                    </div>
                                    <div class="col-12 py-3">
                                        <div class="card p-4">
                                            <h5>Peine para barba</h5>
                                            <p>
                                                Peine ancho para barba y bigote barber line Eurostil
                                                Fabricado en madera de alta calidad
                                                Medidas: 9 cm de largo x 6,5 cm alto
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-warning">Comprar Ahora</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="productos__card text-center">
                    <img src="../assets/img/pomada.png" alt="Cera para barbas">
                    <h3>Cera para barbas</h3>
                    <div class="cantidad">Cantidad: <input type="number" name="cantidad" value="1" min="1" /></div>
                    <p class="price">$250</p>
                    <button type="button" class="btn btn-warning btn-lg fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
                        Ver Producto
                    </button>
                    <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel5" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="staticBackdropLabel5">Cera para barbas</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="../assets/img/cepillo.png" alt="Cera para barbas" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 d-flex flex-column justify-content-center">
                                        <span>Precio:</span>
                                        <p class="price">$250</p>
                                        
                                    </div>
                                    <div class="col-12 py-3">
                                        <div class="card p-4">
                                            <h5>Cera para barbas</h5>
                                            <p>
                                                Estricta cera a base de productos naturales los cuales ofrecen un efecto de dureza, formalidad, brillo y rica fragancia.
                                                Ideal para modelar barba y bigote.
                                                Modo de uso: hundir la uña del pulgar en el producto, separar una pequeña almendra (cantidad necesaria para el proceso). Repartir en caso de que desee mayor dureza.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-warning">Comprar Ahora</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="productos__card text-center">
                    <img src="../assets/img/shampoo.png" alt="Shampoo para barbas">
                    <h3>Beard Shampoo</h3>
                    <div class="cantidad">Cantidad: <input type="number" name="cantidad" value="1" min="1" /></div>
                    <p class="price">$250</p>
                    
                        <button type="button" class="btn btn-warning btn-lg fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop6">
                        Ver Producto
                    </button>
                    <div class="modal fade" id="staticBackdrop6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel6" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="staticBackdropLabel6">Beard Shampoo</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="../assets/img/shampoo.png" alt="Beard Shampoo" class="img-fluid">
                                    </div>
                                    <div class="col-md-6 d-flex flex-column justify-content-center">
                                        <span>Precio:</span>
                                        <p class="price">$250</p>                                        
                                    </div>
                                    <div class="col-12 py-3">
                                        <div class="card p-4">
                                            <h5>Beard Shampoo</h5>
                                            <p>
                                                Contiene Green Tea Oil y el Tea Tree Oil. Estos óleos fueron cuidadosamente seleccionados por poseer propiedades naturales antibacterianas y antisépticas por excelencia. Humedecer la barba, aplicar una pequeña cantidad, dejar actuar por unos minutos y enjuagar. No contiene sal, sin parabenos. Se recomienda higienizar 1 o 2 veces por semana la barba.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#" class="btn btn-warning">Comprar Ahora</a>
                            </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Fin Productos -->
    <!-- Inicio Footer -->
    <footer class="section__py footer">
        <div class="footer__container">
            <div class="footer__menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./nosotros.html">Nosotros</a></li>
                    <li><a href="./servicios.html">Servicios</a></li>
                    <li><a href="./tienda.html">Tienda</a></li>
                    <li><a href="./contacto.html">Contacto</a></li>
                </ul>
            </div>
            <div class="rrss">
                <a class="rrss__links" href="https://facebook.com">
                    <i class="fab fa-facebook rrss__icons"></i>
                </a>
                <a class="rrss__links" href="https://instagram.com">
                    <i class="fab fa-instagram rrss__icons"></i>
                </a>
                <a class="rrss__links" href="https://github.com/sebamar88/proyecto-coderhouse/">
                    <i class="fab fa-github rrss__icons"></i>
                </a>
            </div>
            <div class="footer__legales">
                <a href="../index.html">
                    <img src="../assets/img/Logo.png" alt="Logo">
                </a>
                <ul>
                    <li><a href="#">Aviso Legal</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Políticas de cookies</a></li>
                </ul>
                <div id="copyright">
                    <span>Todos los derechos reservados.</span>
                    <span>Copyright by <a href="https://sebamar.site">SM Developer</a></span>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fin Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>    
</body>
</html>
