    /* Inicio de Modificaciones de variables */

    $naranja: #f05300;

    $theme-colors: (
    "warning": $naranja,
    "success": #198754,
    "primary": #0073da
    );
    $navbar-light-color: $naranja;
    $link-color: $naranja;
    $link-decoration: none !default;
    $font-size-root: 100%; /* 62.5% = 10px */
    $font-size-base: 1rem;
    /* $h1-font-size:                $font-size-base * 4.8 !default;
    $h2-font-size:                $font-size-base * 3.5 !default;
    $h3-font-size:                $font-size-base * 2.8 !default;
    $h4-font-size:                $font-size-base * 2.4 !default;
    $h5-font-size:                $font-size-base * 2.1 !default;
    $h6-font-size:                $font-size-base * 1.8 !default; */

    /* Fin de Modificaciones de variables */