    /* Inicio de Modificaciones de variables */

    $naranja: #f05300;
    
    $theme-colors: (
    "warning": $naranja,
    "success": #198754,
    "primary": #0073da
    );
    $navbar-light-color: $naranja;
    $link-color: $naranja;
    $link-decoration: none !default;
    $font-size-root: 100%; /* 62.5% = 10px */
    $font-size-base: 1rem;

    /* Fin de Modificaciones de variables */