    $naranja: #f05300;

    
    
    body {
    margin: 0;
    }
    

    @for $i from 1 through 6 {
        h#{$i}{
            font-family: "Montserrat", sans-serif;
            color: $naranja;
            font-weight: 600;
        }
    }
    
    $tamanio: 3rem;
    $resta: .75rem;

    h1 {
    font-size: $tamanio;
    margin: 0;
    }    
    h2 {
    font-size: $tamanio - $resta;
    }
    h3 {
    font-size: $tamanio - $resta*2;
    }
    
    img {
    max-width: 100%;
    height: auto;
    }
    p {
    color: #000;
    /* font-size: 1.6rem; */
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    }
    a {
    font-family: "Montserrat", sans-serif;
    color: $naranja;
    text-decoration: none;
    font-weight: 600;
    }
    
    .fas.fa-star {
    color: rgb(158, 158, 12);
    }
    
    /* Inician Utilidades */
    
    .section__py {
    padding: 2rem 0;
    }
    
    .contenedor {
    max-width: 1100px;
    margin: 0 auto;
    }
    
    .text-center {
    text-align: center;
    }
    
    /* Fin Utilidades */
    
    /* Inicio de Header / Menu */
    header {
    padding: 0.5rem 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    & .contenedor {
        display: grid;
        align-items: center;
        grid-template: 2fr/ 1fr;
        column-gap: 2rem;

        @media (min-width: 768px) {
                display: grid;
                align-items: center;
                grid-template: 1fr/ 3fr 7fr;
                column-gap: 2rem;
            
            }
        }
    }
    nav {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .menuPreboots {
    list-style: none;
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    padding: 0;
    width: 100%;
    align-items: center;
    @media (min-width: 768px) {
        grid-template: 1fr / repeat(5, 1fr);
    
    }
    li {
        text-align: center;

        a {
            text-decoration: none;
            font-family: "Montserrat", sans-serif;
            color: $naranja;
            font-weight: 600;
            text-transform: uppercase;
            }
        }
    }
    
    
    /* Fin de Header / Menu */
    
    /* Tabla */
    .tabla {
        ul {
            list-style: none;
            padding: 0.5rem;
            li {
                color: $naranja;
                font-weight: 600;
                }
            }
        ol {
            padding: 0.5rem;
            li {
                color: #0073da;
                font-weight: 600;
                }
            }
    }
    
    td {
    padding: 1rem;
    }
    td:nth-child(2n) {
    background-color: beige;
    }
    td:nth-child(2n + 1) {
    background-color: burlywood;
    }
    thead {
    background-color: aquamarine;
    }
    
    .tabs {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    li {
        border: 1px solid #ccc;
        padding: 0.5rem;
        a {
            font-family: "Montserrat", sans-serif;
            text-decoration: none;
            color: black;
            }
        }
    }
    
    
    #branding {
        & .contenedor {
            display: grid;
            align-items: center;
            grid-template: repeat(2, 1fr) / 1fr;
            column-gap: 2rem;
            > div {
                padding: 0 15px;
                }
            @media (min-width: 768px) {
                    grid-template: 1fr / repeat(2, 1fr);
                
                }
            }
    }
    
    
    /* Inicia Card Productos */
    
    #modal-X p {
    padding: 0.5rem;
    }
    
    .cantidad {
    color: $naranja;
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    input {
        text-align: center;
        padding: 0.5rem 0;
        width: 20%;
        border: 2px solid #aaa;
        border-radius: 10%;
        }
    }   
    
    .add-to-cart {
    padding: 1rem;
    background-color: white;
    border: 2px solid $naranja;
    color: $naranja;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin-left: 0.5rem;
    }
    .comprar {
    padding: 1rem;
    background-color: $naranja;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-decoration: none;
    margin-left: 0.5rem;
    }
    
    /* Finaliza Card Productos */
    
    /* Inicia Footer */
    
    footer {
    display: grid;
    grid-template: 2fr 1fr 3fr/1fr;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    @media (min-width: 768px) {
            grid-template: 1fr / repeat(3, 1fr);
        
        }
        .footer__menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                padding: 0.5rem 0;
                a:hover{
                    color:black;
                }
                }
            }
        
        .footer__legales {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-top: 1.5rem;
            a:hover {
                color:black;
            }
        }
        img {
            max-width:300px;
        }
    }
    /* Finaliza Footer */
    
    /* Inicia Index.html */
    
    #anexo,
    #galeria {
    background-color: #e3e3e3;
    text-align: center;
    }
    #anexo h2 {
    margin: 0 0 1rem 0;
    }
    #anexo p {
    padding-bottom: 1rem;
    }
    #testimoniales {
        h3 {
        text-align: center;
        margin-bottom: 1rem;
        }
        .contenedor {
            .fila {
            display: grid;
            grid-template: 4fr/1fr;
            column-gap: 1rem;
            @media (min-width: 768px) {
                    grid-template: 2fr / repeat(2, 1fr);
                
            }
            @media (min-width: 992px) {
                    grid-template: 1fr / repeat(4, 1fr);
                
                }
            
            }
            div {
                text-align: center;
                }
            p {
                margin-bottom: 0.5rem;
                }
            i {
                font-size: 1.5rem;
                }
            #carrusel {
                display: grid;
                grid-template: repeat(3, 1fr) / 1fr;
                column-gap: 1rem;
                row-gap: 1rem;
                }
        }
    }

    #galeria .contenedor 
    
    #carrusel {
    padding: 0 15px;
    }
    
    #carrusel img,
    .galeria img {
    transition: all 0.5s ease-in;
    }
    
    #carrusel img:hover,
    .galeria img:hover {
    transition: all 0.5s ease-out;
    transform: scale(1.05);
    }
    
    @media (min-width: 768px) {
    #galeria .contenedor #carrusel {
        grid-template: 1fr / repeat(3, 1fr);
    }
    }
    /* Finaliza Index.html */
    
    /* Inicia Nosotros */
    
    #personal {
    background-color: #e3e3e3;
        .contenedor {
            display: grid;
            grid-template: repeat(2, 1fr) / 1fr;
            column-gap: 1rem;
            row-gap: 1rem;
            @media (min-width: 768px) {
                    grid-template: 1fr / repeat(2, 1fr);
                
                }
            }
            div {
                text-align: center;
                }
            img {
                border-radius: 50%;
                }
    }

    #galeriaNosotros {
    h2 {
        text-align: center;
        }
    .galeria {
        display: grid;
        grid-template: repeat(6, 1fr) / 1fr;
        column-gap: 0.5rem;
        row-gap: 1rem;
        @media (min-width: 768px) {
                grid-template: repeat(3, 1fr) / repeat(2, 1fr);
            
            }
            @media (min-width: 992px) {
                grid-template: 1fr / repeat(6, 1fr);
            
            }
        }
    }
    

    /* Finaliza Nosotros */
    
    /* Inicia Servicios */
    
    .banner {
    height: 50vh;
    text-align: center;
    background: linear-gradient(0deg, rgba(63, 63, 62, 0.6), rgba(54, 54, 53, 0.4)),
        url("../img/banner.jpeg");
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        padding: 5vh 5vw;
        background: linear-gradient(
            0deg,
            rgba(170, 170, 169, 1),
            rgba(228, 228, 225, 0.85)
        );
        }
    }
    
    #servicios .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    }
    .price {
    color: rgb(35, 182, 35);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    }
    
    /* Finaliza Servicios */
    
    /* Inicia Tienda */
    
    .hero__shop {
    height: 50vh;
    text-align: center;
    background: linear-gradient(0deg, rgba(63, 63, 62, 0.6), rgba(54, 54, 53, 0.4)),
        url("https://i.pinimg.com/originals/a4/06/79/a4067917087a8a6c04206e563eba3179.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        padding: 5vh 5vw;
        background: linear-gradient(
            0deg,
            rgba(170, 170, 169, 1),
            rgba(228, 228, 225, 0.85)
        );
        }
    }
    
    
    #productos .fila {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
    }
    
    .servicios__card {
    margin: 1rem 0;
    padding: 2rem;
    background: linear-gradient(145deg, #ffffff, #c4c6c9);
    border-radius: 10%;
    box-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
        h3{
            margin-top: 1rem;
        }
    }

    .productos__card{
        @extend .servicios__card;
        background: linear-gradient(145deg, #c4c6c9, #ffffff);
    }
    
    /* Finaliza Tienda */
    
    /* Inicia Contacto */
    #contacto {
    background-color: #d1d2d3;
    .fila {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        }
    
    }
    
    
    /* Finaliza Contacto */
    
    /* POST BOOTSTRAP */
    .btn-warning {
        color:white;
        &:hover {
            color: white;
        }
    }


    
    
    .testimonials-clean {
    color: #313437;
    background-color: #fff;
    p {
        color: #7d8285;
        }
    h2 {
        font-weight: bold;
        margin-bottom: 40px;
        padding-top: 40px;
        color: inherit;
        @media (max-width:767px) {
                margin-bottom: 25px;
                padding-top: 25px;
                font-size: 24px;
            
            }
        }
    } 
    
    
    
    .testimonials-clean {
        .intro {
        font-size: 16px;
        max-width: 500px;
        margin: 0 auto;
        p {
            margin-bottom: 0;
            }
        }
        .people {
            padding: 50px 0 20px;
            }
        .item {
            margin-bottom: 32px;
            @media (min-width:768px) {
                    height: 220px;
                
                }
                .item__box {
                    padding: 30px;
                    background-color: #eef4f7;
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        left: 30px;
                        bottom: -24px;
                        width: 0;
                        height: 0;
                        border: 15px solid transparent;
                        border-width: 12px 15px;
                        border-top-color: #eef4f7;
                        }
                    .description {
                        font-size: 15px;
                        margin-bottom: 0;
                        }
                    }
                .item__author {
                    margin-top: 28px;
                    padding-left: 25px;
                    .name {
                        font-weight: bold;
                        margin-bottom: 2px;
                        }
                    .title {
                        font-size: 13px;
                        color: #9da9ae;
                        }
                    }
                
                
            }
    }
    .carousel-item img {
        max-height: 600px;
        object-fit: cover;
        object-position: 50% 70%;
    }
    
    

    .personal__contenedor {
        transition: all .5s ease-in-out;
        &:hover{
            transition: all .5s ease-in-out;
            transform: scale(1.1);
        }
        p{
            margin-top: 1rem;
            font-weight: bold;
            margin-bottom: .5rem;
        }
            
        
    }


@media (min-width: 992px) {
    .navbar__logo {
        max-width: 18.75rem;
    }
}

.btn-warning {
    color: white;
    &:hover, &:focus, &:active {
        @extend .btn-warning;
    }
}

footer {
    a {
        font-size: 1rem;
    }
    .rrss{
        .rrss__links {
            .rrss__icons {
                font-size: 1.5rem;
                margin: 0 0.5rem;
                padding: 1rem 1.1rem;
                border: 1px solid #c1c1c1;
                border-radius: 50%;
                transition: all 0.5s ease;
                }
            &:hover .rrss__icons{
                background-color: $naranja;
                color: white;
            
            }
        }
    }
}

.error {
    &__title{
        font-size: 2rem;
        text-align: center;
    }
}