body {
  margin: 0; }

h1 {
  font-family: "Montserrat", sans-serif;
  color: #f05300;
  font-weight: 600; }

h2 {
  font-family: "Montserrat", sans-serif;
  color: #f05300;
  font-weight: 600; }

h3 {
  font-family: "Montserrat", sans-serif;
  color: #f05300;
  font-weight: 600; }

h4 {
  font-family: "Montserrat", sans-serif;
  color: #f05300;
  font-weight: 600; }

h5 {
  font-family: "Montserrat", sans-serif;
  color: #f05300;
  font-weight: 600; }

h6 {
  font-family: "Montserrat", sans-serif;
  color: #f05300;
  font-weight: 600; }

h1 {
  font-size: 3rem;
  margin: 0; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 1.5rem; }

img {
  max-width: 100%;
  height: auto; }

p {
  color: #000;
  /* font-size: 1.6rem; */
  font-size: 1rem;
  font-family: "Open Sans", sans-serif; }

a {
  font-family: "Montserrat", sans-serif;
  color: #f05300;
  text-decoration: none;
  font-weight: 600; }

.fas.fa-star {
  color: #9e9e0c; }

/* Inician Utilidades */
.section__py {
  padding: 2rem 0; }

.contenedor {
  max-width: 1100px;
  margin: 0 auto; }

.text-center {
  text-align: center; }

/* Fin Utilidades */
/* Inicio de Header / Menu */
header {
  padding: 0.5rem 0;
  box-shadow: 0 4px 8px 0 rgba(240, 83, 0, 0.5); }
  header .contenedor {
    display: grid;
    align-items: center;
    grid-template: 2fr/ 1fr;
    column-gap: 2rem; }
    @media (min-width: 768px) {
      header .contenedor {
        display: grid;
        align-items: center;
        grid-template: 1fr/ 3fr 7fr;
        column-gap: 2rem; } }

nav {
  display: flex;
  align-items: center;
  justify-content: center; }

.menuPreboots {
  list-style: none;
  display: grid;
  grid-template: repeat(5, 1fr)/1fr;
  padding: 0;
  width: 100%;
  align-items: center; }
  @media (min-width: 768px) {
    .menuPreboots {
      grid-template: 1fr/repeat(5, 1fr); } }
  .menuPreboots li {
    text-align: center; }
    .menuPreboots li a {
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      color: #f05300;
      font-weight: 600;
      text-transform: uppercase; }

/* Fin de Header / Menu */
/* Tabla */
.tabla ul {
  list-style: none;
  padding: 0.5rem; }
  .tabla ul li {
    color: #f05300;
    font-weight: 600; }

.tabla ol {
  padding: 0.5rem; }
  .tabla ol li {
    color: #0073da;
    font-weight: 600; }

td {
  padding: 1rem; }

td:nth-child(2n) {
  background-color: beige; }

td:nth-child(2n + 1) {
  background-color: burlywood; }

thead {
  background-color: aquamarine; }

.tabs {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  list-style: none; }
  .tabs li {
    border: 1px solid #ccc;
    padding: 0.5rem; }
    .tabs li a {
      font-family: "Montserrat", sans-serif;
      text-decoration: none;
      color: black; }

#branding .contenedor {
  display: grid;
  align-items: center;
  grid-template: repeat(2, 1fr)/1fr;
  column-gap: 2rem; }
  #branding .contenedor > div {
    padding: 0 15px; }
  @media (min-width: 768px) {
    #branding .contenedor {
      grid-template: 1fr/repeat(2, 1fr); } }

/* Inicia Card Productos */
#modal-X p {
  padding: 0.5rem; }

.cantidad {
  color: #f05300;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600; }
  .cantidad input {
    text-align: center;
    padding: 0.5rem 0;
    width: 20%;
    border: 2px solid #aaa;
    border-radius: 10%; }

.add-to-cart {
  padding: 1rem;
  background-color: white;
  border: 2px solid #f05300;
  color: #f05300;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0.5rem; }

.comprar {
  padding: 1rem;
  background-color: #f05300;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  margin-left: 0.5rem; }

/* Finaliza Card Productos */
/* Inicia Index.html */
#anexo,
#galeria {
  background-color: #e3e3e3;
  text-align: center; }

#anexo h2 {
  margin: 0 0 1rem 0; }

#anexo p {
  padding-bottom: 1rem; }

#testimoniales h3 {
  text-align: center;
  margin-bottom: 1rem; }

#testimoniales .contenedor .fila {
  display: grid;
  grid-template: 4fr/1fr;
  column-gap: 1rem; }
  @media (min-width: 768px) {
    #testimoniales .contenedor .fila {
      grid-template: 2fr/repeat(2, 1fr); } }
  @media (min-width: 992px) {
    #testimoniales .contenedor .fila {
      grid-template: 1fr/repeat(4, 1fr); } }

#testimoniales .contenedor div {
  text-align: center; }

#testimoniales .contenedor p {
  margin-bottom: 0.5rem; }

#testimoniales .contenedor i {
  font-size: 1.5rem; }

#testimoniales .contenedor #carrusel {
  display: grid;
  grid-template: repeat(3, 1fr)/1fr;
  column-gap: 1rem;
  row-gap: 1rem; }

#galeria .contenedor #carrusel {
  padding: 0 15px; }

#carrusel img,
.galeria img {
  transition: all 0.5s ease-in; }

#carrusel img:hover,
.galeria img:hover {
  transition: all 0.5s ease-out;
  transform: scale(1.05); }

@media (min-width: 768px) {
  #galeria .contenedor #carrusel {
    grid-template: 1fr/repeat(3, 1fr); } }

/* Finaliza Index.html */
/* Inicia Nosotros */
#personal {
  background-color: #e3e3e3; }
  #personal .contenedor {
    display: grid;
    grid-template: repeat(2, 1fr)/1fr;
    column-gap: 1rem;
    row-gap: 1rem; }
    @media (min-width: 768px) {
      #personal .contenedor {
        grid-template: 1fr/repeat(2, 1fr); } }
  #personal div {
    text-align: center; }
  #personal img {
    border-radius: 50%; }

#galeriaNosotros h2 {
  text-align: center; }

#galeriaNosotros .galeria {
  display: grid;
  grid-template: repeat(6, 1fr)/1fr;
  column-gap: 0.5rem;
  row-gap: 1rem; }
  @media (min-width: 768px) {
    #galeriaNosotros .galeria {
      grid-template: repeat(3, 1fr)/repeat(2, 1fr); } }
  @media (min-width: 992px) {
    #galeriaNosotros .galeria {
      grid-template: 1fr/repeat(6, 1fr); } }

/* Finaliza Nosotros */
/* Inicia Servicios */
.banner {
  height: 50vh;
  text-align: center;
  background: linear-gradient(0deg, rgba(63, 63, 62, 0.6), rgba(54, 54, 53, 0.4)), url("../img/banner.jpeg");
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .banner h1 {
    padding: 5vh 5vw;
    background: linear-gradient(0deg, #aaaaa9, rgba(228, 228, 225, 0.85)); }

#servicios .contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 1rem; }

.price {
  color: #23b623;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center; }

/* Finaliza Servicios */
/* Inicia Tienda */
.hero__shop {
  height: 50vh;
  text-align: center;
  background: linear-gradient(0deg, rgba(63, 63, 62, 0.6), rgba(54, 54, 53, 0.4)), url("https://i.pinimg.com/originals/a4/06/79/a4067917087a8a6c04206e563eba3179.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero__shop h1 {
    padding: 5vh 5vw;
    background: linear-gradient(0deg, #aaaaa9, rgba(228, 228, 225, 0.85)); }

#productos .fila {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 2rem; }

.servicios__card, .productos__card {
  margin: 1rem 0;
  padding: 2rem;
  background: linear-gradient(145deg, #c4c6c9f8, #ffffff);
  border-radius: 5px;
  box-shadow: 9.91px 9.91px 15px #d1d2d3, -9.91px -9.91px 15px #fff;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .servicios__card h3, .productos__card h3 {
    margin-top: 1rem; }

.productos__card {
  background: linear-gradient(145deg, #92918ff8, #ffffff); }

/* Finaliza Tienda */
/* Inicia Contacto */
#contacto {
  background: linear-gradient(0deg, rgba(63, 63, 62, 0.85), rgba(54, 54, 53, 0.65)), url("../img/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%; }
  #contacto h1 {
    -webkit-text-fill-color: #f05300;
    -webkit-text-stroke: 2px #000; }
  #contacto button {
    font-size: 1.25rem;
    font-weight: 600; }
  #contacto form span {
    color: #fff; }

/* Finaliza Contacto */
/* POST BOOTSTRAP */
.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  color: white; }
  .btn-warning:hover {
    color: white; }

.testimonials-clean {
  color: #313437;
  background-color: #fff; }
  .testimonials-clean p {
    color: #7d8285; }
  .testimonials-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit; }
    @media (max-width: 767px) {
      .testimonials-clean h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px; } }

.testimonials-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto; }
  .testimonials-clean .intro p {
    margin-bottom: 0; }

.testimonials-clean .people {
  padding: 50px 0 20px; }

.testimonials-clean .item {
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .testimonials-clean .item {
      height: 220px; } }
  .testimonials-clean .item__box {
    padding: 30px;
    background-color: #e3e3e3;
    position: relative; }
    .testimonials-clean .item__box:after {
      content: '';
      position: absolute;
      left: 30px;
      bottom: -24px;
      width: 0;
      height: 0;
      border: 15px solid transparent;
      border-width: 12px 15px;
      border-top-color: #e3e3e3; }
    .testimonials-clean .item__box .description {
      font-size: 15px;
      margin-bottom: 0; }
  .testimonials-clean .item__author {
    margin-top: 28px;
    padding-left: 25px; }
    .testimonials-clean .item__author .name {
      font-weight: bold;
      margin-bottom: 2px; }
    .testimonials-clean .item__author .title {
      font-size: 13px;
      color: #9da9ae; }

.carousel-item img {
  max-height: 600px;
  object-fit: cover;
  object-position: 50% 70%; }

.personal__contenedor {
  transition: all .5s ease-in-out; }
  .personal__contenedor:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.1); }
  .personal__contenedor p {
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: .5rem; }

@media (min-width: 992px) {
  .navbar__logo {
    max-width: 18.75rem; } }

.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  color: white; }

.footer {
  -webkit-box-shadow: 0px -4px 3px rgba(240, 83, 0, 0.5);
  -moz-box-shadow: 0px -4px 3px rgba(240, 83, 0, 0.5);
  box-shadow: 0px -8px 6px rgba(240, 83, 0, 0.5); }
  .footer a {
    font-size: 1rem; }
  .footer .rrss__links .rrss__icons {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    padding: 1rem 1.1rem;
    border: 1px solid #c1c1c1;
    border-radius: 50%;
    transition: all 0.5s ease; }
  .footer .rrss__links:hover .rrss__icons {
    background-color: #f05300;
    color: white; }
  .footer__container {
    display: grid;
    grid-template: 2fr 1fr 3fr/1fr;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    column-gap: 1rem; }
    @media (min-width: 768px) {
      .footer__container {
        grid-template: 1fr/repeat(3, 1fr); } }
  .footer__menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .footer__menu ul li {
      padding: 0.5rem 0; }
      .footer__menu ul li a:hover {
        color: black; }
  .footer__legales {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1.5rem; }
    .footer__legales a:hover {
      color: black; }
  .footer img {
    max-width: 300px; }

.error__title {
  font-size: 2rem;
  text-align: center; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 850px; } }

.modal-body .card {
  background-color: #e3e3e3;
  border: dotted 4px #f05300; }

.product__description {
  list-style: square; }
  .product__description li {
    text-align: left; }

.form-control {
  background: rgba(255, 255, 255, 0.4); }
  .form-control:focus {
    background: rgba(255, 255, 255, 0.6); }
  .form-control::placeholder {
    color: #000;
    font-weight: 600; }

select.form-control {
  color: #000;
  font-weight: 600; }
